<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Product Id="*" Name="Leveled Up" Language="1033" Version="1.0.0.0" Manufacturer="Mark Thiessen" UpgradeCode="2A4F7735-5579-4126-ABB3-D8BBFD27D015">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="APPINSTALLDIR" Name="LeveledUp"/>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="LeveledUp"/>
			</Directory>
		</Directory>
	
		<Feature Id="ProductFeature" Title="LeveledUp" Level="1">
			<ComponentGroupRef Id="Application"/>
			<ComponentRef Id="LeveledUp.Shortcut" />
		</Feature>

		<PropertyRef Id="NETFRAMEWORK45"/>
		<Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
			<![CDATA[Installed OR NETFRAMEWORK45]]>
		</Condition>
	</Product>
</Wix>
